body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}


header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
}
.carousel-container {
        position: relative;
        width: 70%;
        height: 60rem; /* Ajusta la altura según tus necesidades */
        overflow: hidden; /* Oculta las imágenes fuera del área visible */
        display: flex;
        justify-content: center; /* Centra el contenido horizontalmente */
        align-items: center; /* Centra el contenido verticalmente */
    }

.carousel {
    display: flex;
    transition: transform 0.5s ease;
    object-fit: cover;
}
.carousel img {
    width: 100%;
    height: max-content;
}
.prev {
    left: 10px;
    position: absolute;
    top: 50%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transform: translateY(-50%);
}

.next {
    right: 10px;
    position: absolute;
    top: 50%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transform: translateY(-50%);
}
h1 {
    color: #333;
}

.image-gallery img {
    width: 30%;
    margin: 10px;
    border-radius: 8px;
}

.product-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.product-card {
    background-color: #fff;
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 30%;
}

.product-card img {
    width: 100%;
    border-radius: 8px;
}

.product-card button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#cart-items {
    margin-top: 20px;
}

#checkout-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
